@use '../base/variables' as v;

.copyright {
    padding: 4vh 5vw;

    &__grid {
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-family: v.$font-secondary;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
        color: #b3b3b3;
        margin-bottom: 1.2rem;
    }
}