// Colores

$primary: rgb(32,32,32);
$secondary: #9f1700;

$black: #000000;
$black-secondary: #242424;
$black-light: #5D5D5D;
$gray: #4A4A4A;
$white: #ffffff;

// Fuentes
$font-primary: 'Orbitron', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
